
.icon-left:before { content: '\e800'; } /* '' */
.icon-ticker:before { content: '\e801'; } /* '' */
.icon-right:before { content: '\e802'; } /* '' */
.icon-volume-up:before { content: '\e803'; } /* '' */
.icon-camera:before { content: '\e804'; } /* '' */
.icon-link:before { content: '\e805'; } /* '' */
.icon-folder:before { content: '\e806'; } /* '' */
.icon-play:before { content: '\e807'; } /* '' */
.icon-gallery:before { content: '\e808'; } /* '' */
.icon-calendar:before { content: '\e809'; } /* '' */
.icon-user:before { content: '\e80a'; } /* '' */
.icon-mobile:before { content: '\e80b'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-pinterest:before { content: '\f0d3'; } /* '' */
.icon-columns:before { content: '\f0db'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-chat:before { content: '\f0e6'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-quote:before { content: '\f10e'; } /* '' */
.icon-reddit:before { content: '\f1a2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-support:before { content: '\f1cd'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-group:before { content: '\f247'; } /* '' */
.icon-twitter:before { content: '\f304'; } /* '' */
.icon-facebook:before { content: '\f308'; } /* '' */
.icon-linkedin:before { content: '\f30c'; } /* '' */